# see https://EditorConfig.org

root = true

[*]
indent_style = space
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.{html,html.template,json,sh,css}]
indent_size = 4
insert_final_newline = true
